.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
themes/yilia/node_modules/
themes/yilia/.deploy*/
themes/yilia/*.log
themes/yilia/.DS_Store
themes/yilia/Thumbs.db
themes/yilia/package-lock.json
