.bio {
  position: -webkit-sticky;
  position: sticky;
  top: 1em;
}
.author {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  margin-left: 0.75em;
  flex-direction: column;
}

.name {
  margin-bottom: 0;
}

.belief {
  color: var(--textGray);
  margin-top: 2em;
}

.beliefMobile {
  display: none;
  color: var(--textGray);
  margin-bottom: 0;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu a {
  color: var(--textNormal);
  font-size: 1.12em;
  transition: color 0.3s;
}

.menu a:hover {
  color: var(--textLink);
}

.contacts {
  display: flex;
  margin: 1em -0.5em;
}

.contacts div {
  padding: 0;
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid var(--borderLine);
  cursor: pointer;
}

.contacts a {
  display: flex;
  color: var(--textNormal);
}

.contacts a:hover {
  color: var(--textLink);
  border: none;
}

@media (max-width: 767px) {
  .bio {
    position: static;
  }
  .author {
    margin-bottom: 1em;
  }
  .avatar {
    transform: scale(0.6) translate(-14px, -14px);
  }
  .info {
    width: 100%;
    margin-left: -70px;
    justify-content: center;
    align-items: center;
  }
  .belief {
    display: none;
  }
  .beliefMobile {
    display: block;
    color: var(--mobile-aside-text);
  }
  .menu {
    flex-direction: row;
    justify-content: center;
  }
  .menu a {
    margin: 0 1em;
    color: var(--mobile-aside-text);
  }
  .contacts {
    justify-content: center;
  }
  .contacts a {
    color: var(--mobile-aside-text);
  }
  .footer {
    display: none;
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
  }
}
