body {
  --bg: #fff;
  --header: var(--pink);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #5d93ff;
  --textGray: #888;
  --hr: rgba(0, 0, 0, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
}

body.dark {
  --bg: #282c35;
  --header: #fff;
  --textNormal: hsla(0, 22%, 5%, 0.88);
  --textTitle: #fff;
  --textLink: #5d93ff;
  --textGray: #888;
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: #373c49;
  --inlineCode-text: #e6e6e6;
}
