body {
  --bg: #fff;
  --header: #333;
  --textNormal: #444;
  --textTitle: #444;
  --textLink: #076dd0;
  --textGray: #555;
  --borderLine: #e6e6e6;
  --waring: #ffffc0;
  --mobile-aside-bg: #007b8b;
  --mobile-aside-text: #ffffff;
}

body.dark {

}
