body {
  --bg: #fff;
  --header: #222;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #5d93ff;
  --textGray: #888;
  --borderLine: #e6e6e6;
  --waring: #ffffc0;
  --mobile-aside-bg: #007b8b;
  --mobile-aside-text: #ffffff;
}

body.dark {

}
